* { box-sizing: border-box; }

:root {
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 28px;
  --border-radius: 6px;
  --line-height: 1.3em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #1a1a1a;
  background: #fafafa;
}

p {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium) var(--spacing-large);
  background: #fff;
  border-bottom: 1px solid #eee;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 20px;
  }
}

.header h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #888;
  margin: 0;
}

.lesson-picker-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  flex-wrap: wrap;
  justify-content: end;
}

.lesson-picker-container h2 {
  /* margin: var(--spacing-small); */
}

.lesson-picker {
  font: inherit;
  padding: var(--spacing-small) var(--spacing-medium) var(--spacing-small) var(--spacing-small);
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  text-transform: capitalize;
  cursor: pointer;
}

.lesson-picker.shift-arrow {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 6px) 8px;
  background-size: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.content {
  padding: var(--spacing-large);
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.content h1 { margin-top: 0; }

.content pre, .content code {
  background: #e3e3e3;
  color: #000000;
}

.content pre {
  padding: var(--spacing-small);
  border-radius: 3px;
  overflow-x: auto;
  border: 1px solid #00000022;
  /* font-size: 0.95em; */
}

.content code {
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-size: 0.8em;
}

.content :not(pre) > code {
  padding: 1px var(--spacing-small);
  border-radius: 3px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  font-size: 12;
  margin: var(--spacing-small);
  padding: 5px;
  background: #878787;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  color: #fdfdfd;
}
